<style>
    .product-details {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .product-details p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 10px;
        color: #333;
    }

    .product-details img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>

<div class="product-details">
    <p>
        Tên: <%= book.tenSach %>
    </p>
    <p>
        Mô tả: <%= book.moTa %>
    </p>
    <p>
        Giá: <%= book.gia.toLocaleString('vi') %> VNĐ
    </p>
    <img src="/<%= book.urlHinh %>" alt="">
</div>