<h3 style="text-align: center;">Liệt kê danh mục bài viết</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tên danh mục</th>
      <th>Mô tả</th>
      <th>Quản lý</th>
    </tr>
  </thead>
  <tbody id="listcategorypost">

  </tbody>
</table>

<script>
  fetch('http://localhost:3000/categorypost').then(res => res.json()).then(data => {
    let listcategorypost = ``
    data.forEach(c => listcategorypost += listcategorypost1(c))
    document.querySelector('#listcategorypost').innerHTML = listcategorypost
  })

  const listcategorypost1 = (c) => {
    return `<tr>
    <td>
        ${c.id_category_post}
    </td>
    <td>
        ${c.title_category_post}
    </td>
    <td>
        ${c.desc_category_post.replace(/"/g, '\\"')}
    </td>
    <td><a onclick="xoadmbv(${c.id_category_post})">Xóa</a>
        || <a href="/admin/edit_category_post/${c.id_category_post}">Cập
            nhật</a></td>
</tr>`
  }
  function xoadmbv(id_category_post) {
    fetch(`http://localhost:3000/admin/delete_category_post/${id_category_post}`, {
      method: 'DELETE'
    })
      .then(res => {
        if (!res.ok) {
          throw new Error('Xóa sản phẩm không thành công');
        }
        return res.json();
      })
      .then(data => {
        console.log(data.message);
        window.location.reload()
      })
      .catch(error => {
        console.error('Lỗi:', error);
      });
  }
</script>